<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Artists</title>
</head>
<body>
    <div class="container">
        <h1 class="name-artist">{{ .NAME }}</h1>
        <div class="groupe-details">
            <img src="{{.IMAGE}}" class="img-artist">
            <div class="members">
                <h2>Members :</h2>
                <ul>
                    {{ range $member := .MEMBERS }}
                    <li>{{ $member }}</li>
                    {{ end }}
                </ul>
                    <p>bonjour</p>
        
                
                <h3>Creation Date : {{.CREATIONDATE}}</h3>
            </div>
        </div>
    </div>
</body>
</html>